<h1>Team and Heroes!</h1>

<div class="member">
  <h3>Hero Name: <%= @member.name %></h3><br>
  <h4>Hero Power: <%= @member.power %></h4><br>
  <h4>Hero Biography: <%= @member.bio %></h4>
</div><br>  


